<div class="p-grid">
    <div class="p-col-12">
        <h1 style="text-align: center;" *ngIf="jogo.getTitulo() != ''">
            Lista de jogadores({{jogo.getTitulo()}})
        </h1>
        <h1 style="text-align: center;" *ngIf="jogos.length != 0">
            Lista de jogos
        </h1>
    </div>
    <span class="main-data" *ngIf="jogo.getTitulo() != ''">
        <div class="p-col-12" *ngFor="let jogador of jogadores; let i = index">
            <div class="data-row">
                <div class="data-name">
                    {{jogador.nome}}
                </div>
                <div class="data-points">
                    {{jogo.getPontuacao(jogador.tempo, jogador.tentativas)}}/10
                </div>
            </div>
            <!-- <div class="p-grid">
                <div class="p-col-8">
                    {{jogador.nome}}
                </div>
                <div class="p-col-4">
                    {{jogo.getPontuacao(jogador.tempo, jogador.tentativas)}}/10
                </div>
            </div> -->
        </div>
    </span>
    <span class="main-data" *ngIf="jogos.length != 0 || jogos_criados.length != 0">
        <p-tabView>
            <p-tabPanel header="Jogos criados por mim">
                <div *ngFor="let jogo of jogos_criados; let i = index">
                    <div class="data-row">
                        <div class="data-name">
                            {{jogo.titulo}}<span class="texto-primario"> [Criado por Você]</span>
                        </div>
                        <div class="data-buttons">
                            <div class="data-buttons-container">
                                <span>Copiar</span>
                                <button pButton type="button" (click)="copiarLink(jogo)" [style]="{'width': '100%'}" label="link para jogar" ></button>
                            </div>
                            <div class="data-buttons-container">
                                <span>Acessar</span>
                                <button pButton type="button" (click)="acessarLinkVisualizar(jogo)" [style]="{'width': '100%'}" label="resultados" ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </p-tabPanel>
            <p-tabPanel header="Jogos que joguei">
                <div *ngFor="let jogo of jogos; let i = index">
                    <div class="data-row">
                        <div class="data-name">
                            {{jogo.jogo_nome}}
                        </div>
                        <div class="data-points">
                            {{jogo.pontuacao}}/10
                        </div>
                    </div>
                </div>
            </p-tabPanel>
        </p-tabView>
    </span>
    
    <div class="p-col-12">
        <button pButton type="button" (click)="iniciar()" [style]="{'width': '100%'}" label="Fechar" ></button>
    </div>
</div>