.main-data{
    width: 100%;
}

.texto-primario{
    color: #81D4FA;
}

.data-row{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    transition: all 0.2s ease-in-out;

    font-size: 1.2rem;
    font-weight: bold;
}

.data-row:hover{
    background-color: rgba(255, 255, 255, 0.2);
}

.data-buttons{
    display: flex;
    height: 5rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.data-buttons-container{
    display: flex;
    height: 5rem;
    padding: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}