<p-card [style]="{'width': '25rem','margin': 'auto', 'text-align': 'center'}" class="center">
    <ng-template pTemplate="header">
        <br>
        <b>
            <h2>
                Login
            </h2>
        </b>
    </ng-template>

    <span class="p-float-label">
        <input id="email-input" [style]="{'width': '100%'}" [(ngModel)]="email" type="text" pInputText> 
        <label for="email-input">Email</label>
    </span>
    <br>    
    <span class="p-float-label">
        <input id="senha-input" [style]="{'width': '100%'}" [(ngModel)]="senha" [feedback]=false type="password" pPassword> 
        <label for="senha-input">Senha</label>
    </span>
    <br>
    <button pButton type="button" label="Login" (click)="login()"  [style]="{'width': '100%'}" ></button>
    <br>
    <br>
    <button pButton type="button" label="Login com Google" icon="pi pi-google" class="p-button-outlined p-button-rounded p-button-info" (click)="authService.GoogleAuth()" [style]="{'width': '100%'}" ></button>
    <br>
    <br>
    <button pButton type="button" label="Cadastrar" class="p-button-outlined p-button-primary" (click)="irParaCadastro()" [style]="{'width': '100%'}" ></button>
</p-card>
