<p-card [style]="{'width': '25rem', 'margin-bottom': '2em', 'margin': '0 auto', 'text-align': 'center'}">
    <ng-template pTemplate="header">
        <b>
            <h2>
                Login
            </h2>
        </b>
    </ng-template>

    <span class="p-float-label">
        <input id="email-input" [style]="{'width': '100%'}" [(ngModel)]="email" type="text" pInputText> 
        <label for="email-input">Email</label>
    </span>
    <br>    
    <span class="p-float-label">
        <input id="senha-input" [style]="{'width': '100%'}" [(ngModel)]="senha" type="text" pInputText> 
        <label for="senha-input">Senha</label>
    </span>
    <br>
    <button pButton type="button" label="Login"  [style]="{'width': '100%'}" ></button>
    <br>
    <br>
    <button pButton type="button" label="Cadastrar" class="p-button-outlined p-button-secondary" (click)="irParaCadastro()" [style]="{'width': '100%'}" ></button>
</p-card>
