<div class="p-grid">
    <div class="p-col-12">
        <h1 style="text-align: center;">
            Parabéns
        </h1>
    </div>
    <div class="p-col-12">
        <h2 style="text-align: center;">
            Você Conseguiu Resolve em:
        </h2>    
    </div>
    <div class="p-col-12">
        <h2 style="text-align: center;">
            <b>
                {{tempo}}
            </b>
        </h2>    
    </div>
    <div class="p-col-12">
        <button pButton type="button" (click)="concluir()" [style]="{'width': '100%'}" label="Concluir" ></button>
    </div>
</div>