<div class="p-grid">
    <div class="p-col-12">
        <h1 style="text-align: center;">
            Parabéns
        </h1>
    </div>
    <div class="p-col-12">
        <h2 style="text-align: center;">
            Aqui estão as informações sobre o seu desempenho:
        </h2>    
    </div>
    <div class="p-col-12">
        <h2 style="text-align: center;">
            <b>
                Você concluiu em: <span class="destaque">{{formatarTempo(jogador.getTempo())}}</span> minutos.
            </b>
        </h2>    
    </div>
    <div class="p-col-12">
        <h2 style="text-align: center;">
            <b>
                Você utilizou <span class="destaque">{{jogador.getTentativas()}}</span> tentativas.
            </b>
        </h2>    
    </div>
    <div class="p-col-12">
        <h2 style="text-align: center;">
            <b>
                Sua pontuação foi de <span class="destaque">{{getPontuacao()}}/10</span>.
            </b>
        </h2>    
    </div>
    <div class="p-col-12">
        <button pButton type="button" (click)="concluir()" [style]="{'width': '100%'}" label="Concluir" ></button>
    </div>
</div>