<p-menubar [model]="items">
    <ng-template pTemplate="start">
        <a routerLink="/" routerLinkActive="active" >
            <img src="https://firebasestorage.googleapis.com/v0/b/sistema-seguranca-trabalho.appspot.com/o/logotipo300x300.png?alt=media&token=dd94a5b7-61cd-4f2c-9283-c2b27d968d1d" height="40" class="p-mr-2">
        </a>
    </ng-template>

    <ng-template pTemplate="end">
        <p-button label ="Sair" (click)="authService.SignOut()" ></p-button>
    </ng-template>
</p-menubar>
