a{
    text-decoration: none;
}

.link{
    color: #4FC3F7;
    text-decoration: none;
    height: 3rem;
    line-height: 3rem;
}

.linhaSlider{
    height: 100px;
}

:host>>> .p-progressbar .p-progressbar-label{
    color: rgb(37, 37, 37);
}